.usp-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.word,
.word-first {
  align-items: center;
  position: relative;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 32px;
  z-index: 0;
}

.word:after {
  background-color: #03c29e;
  opacity: 0.6;
  content: " ";
  height: 30%;
  position: absolute;
  left: 0;
  margin-left: 0.5rem;
  top: 65%;
  width: calc(76%);
  z-index: -1;
}

@media only screen and (max-width: 760px) {
  .usp-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
