.card {
  display: block;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #fefefe;

  margin: 0 24px;
  /* background-color: #03c29e; */
  color: #222222;
  border-radius: 12px;

  /* text-align: center; */
  padding: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 1;
  margin-top: 16px;
}

.card p {
  font-family: Poppins;
}

.card::before {
  content: "";
  width: 88px;
  height: 88px;
  border-bottom-right-radius: 100%;
  /* border-radius: 8px; */
  border-top-left-radius: 12px;
  background: #03c29e;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card::after {
  content: "";
  width: 144px;
  height: 144px;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 12px;
  background: #ff6a006d;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.card:after {
  clear: both;
}

@media only screen and (max-width: 600px) {
}
