.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 50px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.modal img {
  width: 150px;
}

.close {
  position: fixed;
  right: 52px;
  top: 12px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.close:hover {
  color: black;
}
