html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: Roboto Slab, Poppins;
  width: 100%;
  overflow-x: visible;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
  /* background-color: #f9f9f9; */
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  padding: 8px 40px;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid #d9d9d9;
}

.faq-row-wrapper {
  margin: 12px;
  font-family: Poppins;
}

.row-title {
  font-weight: 600;
}

@media only screen and (max-width: 760px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
